extends layout
block css
  link(rel='stylesheet', href='./css/main.css')
block content

  script(src='//code.jquery.com/jquery-2.2.3.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js')
  script(src='./js/main.js')