body {
  background: #EEEEEE;
  color: #303841;
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}
#fcc-info {
  padding-top: 30px;
  height: 100%;
  table {
    text-align: center;
  }
}
#fcc {
  padding-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  .content {
    padding-bottom: 0px !important;
    p {
      text-align: right;
      font-size: 14px;
      &:hover {
        color: lightblue;
      }
    }
    span {
      font-size: 32px;
      padding-right: 5px;
    }
  }
}

table {
  width: 100%;
  tr {
    td {
      padding: 5px;
    }
    &:nth-child(odd) {
      background-color: #DBE2EF;
    }
    &:hover {
      background-color: rgba(122, 165, 210, 0.52);
    }
  }
}

.info-window .content {
  overflow-y: scroll;
  height: 500px;
}

/*scrollbar css*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(0,0,0,0.5);
}